<header class="navbar navbar-fixed-top navbar-default navbar-md">
   <div class="container">
     <%= link_to "Track-it", root_path, class: "btn btn-lg btn-success", id: "logo" %>
     <div class="nav-item">
       <%= link_to "link 1", "", class: "btn btn-default btn-warning btn-sm" %>
     </div>
     <div class="nav-item">
      <%= link_to "link 1", "", class: "btn btn-default btn-warning btn-sm" %>
     </div>
     <% if logged_in? %>
      <div class="nav-item">
        <%= link_to "new request", new_recipe_path, class: "btn btn-default btn-warning btn-sm" %>
      </div>
       <div class="nav-item">
        <%= link_to "Logout", logout_path, class: "btn btn-default btn-danger btn-sm" %>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Log in", login_path, class: "btn btn-default btn-warning btn-sm" %>
      </div>
    <% end %>  
  </div>
</header>
